*{font-family: 'Poppins', sans-serif;}
.nav ul {
display:flex;
justify-content: flex-end;
}
img{
    height: 25px;
    width: 25px;
    padding: 5px;
 }
#puppy{
    height: 80px;
    width: 80px;
    padding-right: 600px;
    

}
.nav{
    display: flex;
    width: 200px;
    margin: 0 100px;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px;
}

.box {
    border: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: repeat(4, 1fr); 
    background-color: #3498db;
    color: white;
    height: 100px;
    width: 200px;

}